{% extends 'landing_page/base.html' %}

{% block content %} 

{% for post in posts %}

<div class="card container" style=" margin-top: 2rem; box-shadow: gray 0 0.1px 3px; border-radius: 1.5rem;">
    <img src="{{ post.image.url }}"  style="width: 100%; height: 100%; border-radius: 1.5rem; padding-top: 0.5rem;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.content|safe|striptags|truncatechars:300 }}</p>
      <a href="{% url 'postDetails' post.id %} " class="btn btn-danger" style="border-radius: 1.5rem;">Read more...</a>
    </div>
  </div>

{% endfor %}
  {% endblock content %}
