{% extends 'landing_page/base.html' %}

{% block content %} 

{% for post in posts %}

<div class="card" style=" margin-top: 5rem; box-shadow: gray 0 0.1px 3px;">
    <img src="{{ post.image.url }}"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.content|safe|striptags|truncatechars:150 }}</p>
      <a href="{% url 'postDetails' post.id %} " class="btn btn-danger">Read more...</a>
    </div>
  </div>

{% endfor %}
  {% endblock content %}
