{% extends 'landing_page/base.html' %}

{% block content %} 

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Categories</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ol class="list-group">
     
      
      {% for categ in categories %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto" >
          <div class="fw-bold">
            <a href="{% url 'allPosts' categ.id %}" class="btn btn-warning" style="text-decoration: none;">{{ categ.category }}</a>
          </div>
        </div>
        <button class="btn btn-danger">Subscribe</button>
      </li>
   

      {% endfor %}
   

    </ol>
  </div>
</div>
</div>





{% endblock content %} 
