{% extends 'dashboard/base.html' %}

{% block content%}
<div class="d-flex justify-content-center ">
                    <h1>Manage Categories</h1>
</div>
<div class="d-flex justify-content-center ">

<table  class ="table table-striped" order="2px">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Edit Category Name</th>
        <th>Delete Category</th>


    </tr>
    {%for cat in all_cats%}
    <tr>
        <td>{{cat.id}}</td>
        <td>{{cat.name}}</td>
        <td><a class ="btn btn-warning" href="{% url 'edit-cat' cat.id%}">Edit</a></td>
        <td><a class ="btn btn-danger" href="{% url 'delete-cat' cat.id%}">Delete</a></td>

    </tr>

    {%endfor%}
</table>

                </div>
          <a class ="btn btn-primary" href="{% url 'add-cat' %}">Add Category</a>



{% endblock %}