{% extends 'dashboard/base.html' %}
    {% block content %}

    {% load crispy_forms_tags %}
    {% if user.is_superuser %}
    <div class="container" style="padding: 40px;">
        <div class="card shadow col-lg-7 mx-auto">
            <div class="card-body">

                <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="submit" value="Update">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% endblock %} 