{% extends 'dashboard/base.html' %}
{% block content %}
<div class="d-flex justify-content-center ">
                    <h1>Manage Users</h1>
</div>
<div class="d-flex justify-content-center ">

<table  class ="table table-striped" order="2px">
    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Is Admin</th>
        <th>Edit User</th>
        <th>Delete User</th>
        <th>Block User</th>
         <th>Promote User</th>

    </tr>
    {%for user in all_users%}
    <tr>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
            {% if user.is_superuser %}
            <svg  style="color:green" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
              </svg>
            {% else  %}
            <svg style="color:red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            {% endif %}
        </td>
           <td><a class ="btn btn-primary" href="{% url 'show-user' user.id%}">Show</a></td>
     {% if not user.is_superuser %}

        <td><a class ="btn btn-danger" href="{% url 'del-user' user.id%}">Delete User</a></td>

                    {% if   user.is_active %}
        <td><a class ="btn btn-warning" href="{% url 'block-user' user.id%}">Block</a></td>
             {%else%}
        <td><a class ="btn btn-info" href="{% url 'unblock-user' user.id%}">UnBlock</a></td>
            {% endif %}
          <td><a class ="btn btn-success" href="{% url 'admin-user' user.id%}">Promote</a></td>
    {% else %}
         <td></td>
         <td></td>
        <td><a class ="btn btn-info" href="{% url 'unadmin-user' user.id%}">Demote</a></td>
     {% endif %}

    </tr>
    {%endfor%}
</table>
                </div>



{% endblock %}
