{% extends 'dashboard/base.html' %}
{% block content %}


<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button style="border: none;"> <img src="https://image.ibb.co/jw55Ex/def_face.jpg" height="100" width="100" /></button> <span class="name mt-3">Username:{{id.username }}</span> <span class="idd">Email :{{id.email }}</span>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">Is Staff: <span class="follow">{{id.is_staff }}</span></span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">Is Active: <span class="follow">{{id.is_active }}</span></span> </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Last Login: {{id.last_login }}</span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Date Joined : {{id.date_joined }}</span> </div>
            <a class="btn btn-success" href="{%url 'all-users' %}"> Back</a>
        </div>
    </div>
</div>
 {%endblock%}
